/*
Name : Responsive Layout Css 
Author : Suresh Thangarasu
email:suriish@gmail.com
*/
@media screen and (min-width:960px){

    

}
/* -------------------------------------------------------------------960px*/

@media screen and (max-width:960px){
    .login-wrapper{
        width:50%;
    }

}

@media screen and (max-width:768px){
    .login-wrapper{
        width:60%;
    }

}

@media screen and (max-width:480px){
    .login-wrapper{
        width:80%;
    }

}
@media screen and (max-width:320px) {

}