<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">avanade</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
     </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container register-wrp">

	<div class="col-md-6 col-sm-8 col-xs-12 ex-center">
	<form action="" ng-submit="saveUser()">
		<div class="field-wrp">
			<h2>Register</h2>
			<select ng-model="user.role">
			<option selected="selected">--Select Role--</option>
			<option value="supervisor">Supervisor</option>
			<option value="joiner">New Joiners</option>
			</select>
			<input type="text" placeholder="Name" ng-model="user.name">
			<input type="text" placeholder="Email" ng-model="user.email">
			<input type="text" placeholder="Contact Number" ng-model="user.number">
			<input type="password" placeholder="Password" ng-model="user.pwd">
			<input type="submit" value="Register" class="register-sub">
		</div>
	</form>
		
	</div>

</div>

<footer></footer>


<!-- <p>{{msg}}</p>
<form action="" ng-submit="saveUser()">
	<input type="text" ng-model="user.name">
	<input type="submit">
</form>
 -->