<div class="contaioner-fluid login-container">
    <div class = "row" >
    <div class="login-wrapper">
        <div class="logo-container">
            <img src="images/logoBlack.png"/>
        </div>
<div class="signUp">
                <form action="" ng-submit="">
		          <div class="">
		            <h3>Forget Password</h3>

			    <input type="password" placeholder="Password"  class="form-control">
                <input type="password" placeholder="Re-Type Password" class="form-control">
                <input type="text" placeholder="Security Code"  class="form-control">
			    <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
                 <p class="sign-link text-center">Existing User <a ui-sref="signin">Sign In</a></p>
		        </div>
	         </form>

        </div>
    </div>

</div>

</div>
