<div class="contaioner-fluid login-container">
    <div class = "row" >
    <div class="login-wrapper">
       <div class="logo-container">
            <img src="images/logoBlack.png"/>
 </div>
<div class="signIn">
            <form name="" class="form-group">
                <h3> Sign In</h3>
            <input type="text" placeholder="Email" class="form-control">
			<input type="password" placeholder="Password" class="form-control">
            <p class="forgetPass"> <a ui-sref="forgetPassword">Forget Password?</a></p>
			<button type="submit"  class="btn btn-primary btn-block">Login</button>
            </form>
            <p class="text-center"> -- OR -- </p>
            <h4 class="title"><a ui-sref="signup"  class="btn btn-success btn-block">Register</a></h4>     
</div>
    </div>

</div>

</div>
