<div class="contaioner-fluid login-container">
    <div class="row">
        <div class="login-wrapper">
            <div class="logo-container">
                <img src="images/logoBlack.png" />
            </div>
            <div class="signIn">
                <h3> Sign In</h3>
                <form name="signInFrm" class="form-group" ng-click="signInFrm.$valid && login.usrAuth()" novalidate>
                    <input type="email" placeholder="Email" class="form-control" ng-model="login.usr.Name" required>
                    <input type="password" placeholder="Password" class="form-control" ng-model="login.usr.Pwd" required>
                    <p class="forgetPass"> <a ui-sref="forgetPassword">Forget Password?</a></p>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
                <p class="text-center"> <strong>-- OR -- </strong></p>
                <h4 class="title"><a ui-sref="signup"  class="btn btn-success btn-block">Register</a></h4>
            </div>
        </div>
    </div>
</div>
