<div class="contaioner-fluid dash-container" ng-controller='DashController'>

    <div class="dash-wrapper">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dash-title-bar">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 user-name-sec">
          <!-- <span class="dash-prImage"></span> -->
            <span>Welcome <span>{{userProfile.name}}</span></span>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 dash-notify text-right ">
          <span class="glyphicon glyphicon-envelope"></span>
             <span class="glyphicon glyphicon-globe"></span>
             <span class="glyphicon glyphicon-user"></span>

        </div>

      </div>

      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 dash-left-bar">
        <ul class="nav list-unstyled">
            <li>
              <a ui-sref="dashboard.status"><span class="glyphicon glyphicon-th-list"></span>Task</a>
              <ul>
                <li><a ui-sref='dashboard.new_task'>Create Task</a><li>
                </ul>

            </li>
            <li><a><span class="glyphicon glyphicon-envelope"></span>Messages</a></li>
            <li><a><span class="glyphicon glyphicon-cog"></span>Settings</a></li>
        </ul>

      </div>
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 dash-view">
         <div ui-view></div>
       </div>
    </div>

</div>
