<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 dash-status-card">
    <h4>Mandatory Task</h4>
    <div class="progress-wrapper">
        <div class="progress ng-cloak" ng-style="getStyle()">{{ preciseCurrent || current }}/{{ max }}</div>
        <round-progress max="max" current="current" color="#ff0000" bgcolor="{{ bgColor }}" radius="{{ radius }}" semi="isSemi" rounded="rounded" stroke="{{ stroke }}" clockwise="clockwise" responsive="responsive" duration="{{ duration }}" animation="{{ currentAnimation }}"
            offset="{{ offset }}" animation-delay="{{ animationDelay }}" on-render="showPreciseCurrent">
            <svg>
              <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                  <stop offset="5%"  stop-color="green"/>
                  <stop offset="95%" stop-color="gold"/>
              </linearGradient>
          </svg>
        </round-progress>
    </div>
</div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 dash-status-card">
    <h4>Additional Task</h4>
    <div class="progress-wrapper">
        <div class="progress ng-cloak" ng-style="getStyle()">{{ preciseCurrent || current }}/{{ max }}</div>
        <round-progress max="max" current="current" color="#F97705" bgcolor="{{ bgColor }}" radius="{{ radius }}" semi="isSemi" rounded="rounded" stroke="{{ stroke }}" clockwise="clockwise" responsive="responsive" duration="{{ duration }}" animation="{{ currentAnimation }}"
            offset="{{ offset }}" animation-delay="{{ animationDelay }}" on-render="showPreciseCurrent">
            <svg>
            <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                <stop offset="5%"  stop-color="green"/>
                <stop offset="95%" stop-color="gold"/>
            </linearGradient>
        </svg>
        </round-progress>
    </div>
</div>

<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 dash-status-card">
    <h4>other Task</h4>
    <div class="progress-wrapper">
        <div class="progress ng-cloak" ng-style="getStyle()">{{ preciseCurrent || current }}/{{ max }}</div>
        <round-progress max="max" current="current" color="rgb(69, 204, 206)" bgcolor="{{ bgColor }}" radius="{{ radius }}" semi="isSemi" rounded="rounded" stroke="{{ stroke }}" clockwise="clockwise" responsive="responsive" duration="{{ duration }}" animation="{{ currentAnimation }}"
            offset="{{ offset }}" animation-delay="{{ animationDelay }}" on-render="showPreciseCurrent">
            <svg>
              <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
              <stop offset="5%"  stop-color="green"/>
              <stop offset="95%" stop-color="gold"/>
              </linearGradient>
          </svg>
        </round-progress>
    </div>
</div>
<div class="task-list-contaoner col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <ul class="task-list">
        <li ng-class="{'active' : taskCategory=='mandatory'}"><a data-toggle="tab" ng-click="taskCategory='mandatory'">Mandatory Task</a></li>
        <li ng-class="{'active' : taskCategory=='additional'}"><a data-toggle="tab" ng-click="taskCategory='additional'">Additional Task</a></li>
        <li ng-class="{'active' : taskCategory=='others'}"><a data-toggle="tab" ng-click="taskCategory='others'">Other Task</a></li>
        <li ng-class="{'active' : taskCategory==''}"><a data-toggle="tab" ng-click="taskCategory=''">All</a></li>
    </ul>

    <input type="text" ng-model="searchTaskName" placeholder="Search For Task" class="task-search">
    <h2> inCompleted Task </h2>
    <div class="cardContainer">
        <div class="card" ng-repeat="(key , rows) in incompleteTaskList | filter : searchTaskName | filter : taskCategory">
            <div ng-hide="rows.compHide" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">
                <div class="card-block {{rows.category }}">
                    <h4 class="card-title">{{rows.name }}</h4>
                    <p class="card-text">{{rows.desc}}</p>
                    <a class="rounded_button" ng-click="pushUserTask(rows)"><span class="glyphicon glyphicon-ok"></span> </a>
                </div>
            </div>
        </div>
    </div>

    <div class="compltedTaskContainer">
        <h2> Completed Task </h2>
        <div class="cardContainer">
            <div class="card" ng-repeat="(key , row) in CompleteTaskList | filter : searchTaskName | filter : taskCategory">
                <div ng-hide="row.incompHide" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">
                    <div class="card-block {{row.category }}">
                        <h4 class="card-title">{{row.name }}</h4>
                        <p class="card-text">{{row.desc}}</p>
                        <a class="rounded_button" ng-click="removeUserTask(row)"><span class="glyphicon glyphicon-remove"></span> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
