
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 dash-status-card">
    <h4>Mandatory Task</h4>
  <div class="progress-wrapper">
      <div class="progress ng-cloak" ng-style="getStyle()">{{ preciseCurrent || current }}/{{ max }}</div>
      <round-progress
          max="max"
          current="current"
          color="{{ getColor() }}"
          bgcolor="{{ bgColor }}"
          radius="{{ radius }}"
          semi="isSemi"
          rounded="rounded"
          stroke="{{ stroke }}"
          clockwise="clockwise"
          responsive="responsive"
          duration="{{ duration }}"
          animation="{{ currentAnimation }}"
          offset="{{ offset }}"
          animation-delay="{{ animationDelay }}"
          on-render="showPreciseCurrent">

          <svg>
              <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                  <stop offset="5%"  stop-color="green"/>
                  <stop offset="95%" stop-color="gold"/>
              </linearGradient>
          </svg>
      </round-progress>
  </div>
</div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 dash-status-card">
  <h4>Additional Task</h4>
<div class="progress-wrapper">
    <div class="progress ng-cloak" ng-style="getStyle()">{{ preciseCurrent || current }}/{{ max }}</div>
    <round-progress
        max="max"
        current="current"
        color="{{ getColor() }}"
        bgcolor="{{ bgColor }}"
        radius="{{ radius }}"
        semi="isSemi"
        rounded="rounded"
        stroke="{{ stroke }}"
        clockwise="clockwise"
        responsive="responsive"
        duration="{{ duration }}"
        animation="{{ currentAnimation }}"
        offset="{{ offset }}"
        animation-delay="{{ animationDelay }}"
        on-render="showPreciseCurrent">

        <svg>
            <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                <stop offset="5%"  stop-color="green"/>
                <stop offset="95%" stop-color="gold"/>
            </linearGradient>
        </svg>
    </round-progress>
</div>
</div>

<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 dash-status-card">
<h4>other Task</h4>
<div class="progress-wrapper">
  <div class="progress ng-cloak" ng-style="getStyle()">{{ preciseCurrent || current }}/{{ max }}</div>
  <round-progress
      max="max"
      current="current"
      color="{{ getColor() }}"
      bgcolor="{{ bgColor }}"
      radius="{{ radius }}"
      semi="isSemi"
      rounded="rounded"
      stroke="{{ stroke }}"
      clockwise="clockwise"
      responsive="responsive"
      duration="{{ duration }}"
      animation="{{ currentAnimation }}"
      offset="{{ offset }}"
      animation-delay="{{ animationDelay }}"
      on-render="showPreciseCurrent">

      <svg>
          <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
              <stop offset="5%"  stop-color="green"/>
              <stop offset="95%" stop-color="gold"/>
          </linearGradient>
      </svg>
  </round-progress>
</div>
</div>

<div class="task-list-contaoner col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <ul class="">

    <li><a data-toggle="tab">Mandatory Task</a></li>
     <li><a data-toggle="tab">Additional Task</a></li>
      <li><a data-toggle="tab">Other Task</a></li>
      <li class="active"><a data-toggle="tab">All</a></li>
  </ul>
   <div ui-view > </div>
 </div>
