<div class="tasklist">
	<div class="row head">
		<div class="col-md-3 list-heading">
			<h3>TASK LIST</h3>
		</div>
		<div class="col-md-offset-3 col-md-3 search">
			<input type="search" class="form-control" placeholder="Search" class="search-btn" />
		</div>
	</div>
	<div class="row radio-btn">
		<div class="col-md-6 radio">
			<label class="radio-inline"><input type="radio" name="optradio">Completed</label>
			<label class="radio-inline"><input type="radio" name="optradio">Incompleted</label>
			<label class="radio-inline"><input type="radio" name="optradio">All</label>
		</div>
	</div>
	<div class="content">
		<div class="col-md-3 heading">
			<h3> Heading1</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>
		<div class="col-md-3 heading">
			<h3> Heading2</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>
		<div class="col-md-3 heading">
			<h3> Heading3</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>
	</div>
</div>
